$bgdark: #0f0e0e;
$bglight: #eee;


body {
  background-color: $bgdark;
  
  * {
    color: $bgdark;
  }
}

div.card {
  background-color: $bglight;
}

.bg-light {
  background-color: $bglight !important;
}